
#react-root {
  height: 100%;
}

body {
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  margin: 0px;
  font-size: x-large;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}


/* --------------------------------------------------------------------------------
Img List
-------------------------------------------------------------------------------- */

.image-list-div {
  display: flex;
  justify-content: space-evenly;
}


.div-imageList-title{
  display: flex;
  justify-content: space-around;
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: whitesmoke;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #000000 !important;
  color: whitesmoke;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  margin: 0px;
  font-size: x-large;
}

.Rating-btn {
  padding: 10px 20px;
  border-color: whitesmoke;
  border-radius: 5px;
  background-color: #000000;
  color: whitesmoke;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Sancreek", serif !important;
  margin: 5px;
  font-size: x-large;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: darkgray;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}

.radio-btn-registration{
  display: flex;
  justify-content: space-evenly;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.checkbox{
  display: flex;
  flex-direction: column;
}

.rankTitles{
  display: flex;
  justify-content: space-evenly;
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-size: x-large;
}

.tooltip {
  position: relative;
  display: inline-block;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  justify-content: center;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  align-items: center;
  
}

.muirtl-1piybgx-MuiAvatar-root {
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border-radius: 0;
  transition: all 200ms ease-in-out;
  width: 750px;
  height: 650px;
}

.muirtl-1pbkapj-MuiAvatar-root {
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border-radius: 0;
  transition: all 200ms ease-in-out;
  max-width: 750px;
  max-height: 650px;
  width: 750px;
  height: 650px;
}

.muirtl-1jyctyi-MuiStack-root>:not(style)~:not(style) {
   margin-right: 0px; 
}

.muirtl-1p6hl0v-MuiAvatar-root {
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border-radius: 0;
  transition: all 200ms ease-in-out;
  max-width: 450px;
  max-height: 450px;
  width: 450px;
  height: 450px;
}

.muirtl-1pbkapj-MuiAvatar-root {
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border-radius: 0;
  transition: all 200ms ease-in-out;
  max-width: 750px;
  max-height: 650px;
  width: 750px;
  height: 650px;
}

.muirtl-1jyctyi-MuiStack-root>:not(style)~:not(style) {
  margin-right: 0px !important;
}

.muirtl-j1uhbz-MuiAvatar-root {
  position: relative;
  display: block !important; 
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border-radius: 0;
  transition: all 200ms ease-in-out;
  max-width: 750px;
  max-height: 650px;
  width: 750px;
  height: 650px;
  margin: 0px 0px 0px 0px;
}

.muirtl-1p6hl0v-MuiAvatar-root {
  position: relative;
  display: block !important;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border-radius: 0;
  transition: all 200ms ease-in-out;
  max-width: 450px;
  max-height: 450px;
  width: 450px;
  height: 450px;
}

.header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiCard-root {
  /* Add styles for the cards */
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiCard-root:hover {
  /* Add styles for the cards */
  transform: scale(1.05);
  background-color: #f5f5f5;
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}





/* Material UI STYLES


/* Target the parent element */
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
  /* Add styles for the parent element if needed */
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
  flex-direction: row;
}

/* Target the children of the parent element */
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiGrid-item {
  /* Add styles for the grid items */
  padding: 20px;
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiCard-root {
  /* Add styles for the cards */
  background-color: #f5f5f5;
  border-radius: 10px;
  font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiCardMedia-root {
  /* Add styles for the card media */
  height: 200px;
  object-fit: cover;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiCardContent-root {
  /* Add styles for the card content */
  padding: 16px;
    font-family: "Sancreek", serif !important;
  font-weight: 400;
  font-size: x-large;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiTypography-root {
  /* Add styles for the typography */
  font-size: 1.2em;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiButton-root {
  /* Add styles for the buttons */
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiButton-root:hover {
  /* Add hover styles for the buttons */
  background-color: #1565c0;
}

/* Porchfest titles google font */
.ewert-regular {
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
}

 /* clear readable google font */
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

/* italics class google font */
.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}


/* funky font google font */

.kablammo {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

/* likely will pair with current fonts */
.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

/* solid current fonts */
.sancreek-regular {
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
}

.Grid-container{
  display: "flex";
  flex-direction: "row";
  justify-content:"space-evenly" ;
  align-items: center;
}

.Card-current {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.4) !important;
  transition: transform 0.3s ease;
  transform: scale(1.05);
  max-width: 450;
  max-height: 350;
  width: 450;
  height: 350;
}

.Card-current:hover {
  transform: scale(1.05);
}

div:where(.swal2-container) button:where(.swal2-styled){
  font-family: "Sancreek", serif;
}