.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;
  background-color: #000000;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 36px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #000000;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #000000;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiCard-root {
  /* Add styles for the cards */
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 .MuiCard-root:hover {
  /* Add styles for the cards */
  transform: scale(1.05);
  background-color: #f5f5f5;
}